.tool-btn:hover {
  background-color: #4a3579 !important;
  color: rgb(185, 255, 8) !important;
}

.tool-btn:hover span{
  color: rgb(55, 171, 133) !important;
}

.tool-btn{
    font-weight: bold !important;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: start;
    cursor:pointer;
    background: transparent;
    outline: none;
    border: none;
  
    padding: 7px 15px;
    margin: 10px 0px;
    border-radius: 20px;
    transition: all 0.3s ease;
  }
  












